h1{
    font-size: 24px;
    font-weight: 700;
}

img{
    max-width: 100%;
    height: auto;
}

/*太文字調整*/
.bold-css{
    font-weight: 700;
}
.active{
    border-bottom: solid green;
    border-width:  1px 0;
}

.mainVisual{
    position: relative;
}

.mainVisual img{
    vertical-align: bottom;
}

.mainVisualText{
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 400px;
    padding: 15px 25px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    margin: auto;
}
.mainVisualText h1{
    font-size: 26px;
    line-height: 1.231;
    margin: 0;
}

.mainVisualText p{
    font-size: 12px;
    line-height: 1.5;
    margin: 10px 0px;
}

.mainVisualText h1{
    font-size: 40px;
    margin: 10px 0px;
}

.form-control-lg{
    margin-bottom: 10px;
}
.form-width60{
    width: 60%;
}
.form-width35{
    width: 35%;
}

.float-z{
    float: left;
}

.float-end{
    clear: both;
}

.margin-right-5{
    margin-right: 5%;
}

.mainVisualText .btn{
    width: 100%;
}

.margin-bottom80px{
    margin-bottom: 80px;
}

/*中央よせ関連*/
.middle-h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.middle-h1_2{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.middlemove{
    text-align: center;
}

/*li画像挿入*/
.imgli{
    list-style-position: inside;
    list-style-image: url(../img/check-mark-1292787_30.png);
}

/*padding*/
.padding-20px{
    padding-right: 20px;
}

.padding-bottom-20px{
    padding-bottom: 20px;
}

/*下のulリンクの書き方*/
.li-none ul{
    padding-left: 0;
}

.li-none li{
    list-style-type: none;
}

/*リンクの色を変える方法がわからないわからない*/
.img_opt {
   height: 200px;
}


@media (max-width: 1050px){
    body {
        margin: 0;
    }
    .navbar-nav a {
        display: none;
    }
    .fixed-top {
        position: inherit;
    }


    .mainVisualText{
    position: initial;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    margin: auto;
}
    .row {
        display: inherit;
    }

    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    /* max-width: 41.666667%; */
    flex: inherit;
    max-width: inherit;
    padding-bottom: 20px;
    }

    .middle-h1{
        font-size: 40px;
        font-weight: 700;
        text-align: left;
    }

    .middle-h1_2{
        font-size: 40px;
        font-weight: 700;
        text-align: cente;
    }

    .imgli li {
        padding-bottom: 20px;
    }

    .margin-bottom80px{
        margin-bottom: 40px;
    }
    .img_opt {
        height: auto;
    }
}
